{{> header}}
<section class="home">
    <section class="home-intro">
        <h1 class="home-heading">Home Title Here...</h1>
        <p class="home-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos
            distinctio quae labore velit harum ipsum deleniti error eligendi consequuntur?</p>
        <a href="/signup" class="home-signup">Sign Up</a>
    </section>
</section>
{{> footer}}