{{> header}}
<section class="home">
    <section class="home__intro">
        <h1 class="home__heading">Home Title Here...</h1>
        <p class="home__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dignissimos
            distinctio quae labore velit harum ipsum deleniti error eligendi consequuntur?</p>
        <a href="#" class="home__signup">Sign Up</a>
    </section>
</section>
{{> footer}}