{{> header}}

<section class="login">
    <form action="/login-data" method="post" class="login-form">
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="password" name="password" placeholder="Enter Your password">
        <input type="submit" name="submit" value="Login" class="login-button">
    </form>
</section>

{{> footer}}