<header class="header">
    <nav class="header__nav">
        <div class="header__logo">LOGO</div>
        <div>
            <a href="/posts" class="header__home">Home</a>
        </div>
        <div class="header__list">
            <a>Username</a>
            <ul>
                <li><a>profile</a></li>
                <li><a>logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="profile">
    <div class="image">
        <img src="" alt="">
    </div>
    <div class="name">
        <h2 class="name">Username</h2>
    </div>
    <div class="posts">
        <div class="post">
            <div class="top">
                <img src="" alt="">
                <span>username</span>
                <span>date</span>
            </div>
            <div class="content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis pariatur ab deleniti
                    eum
                    voluptatum impedit sed, expedita aperiam saepe?</p>
            </div>
            <div class="comments">
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam?</li>
                </ul>
            </div>
        </div>
    </div>
    </section>