<header class="header">
    <nav class="header__nav">
        <div class="header__logo">LOGO</div>
        <div>
            <a href="/posts" class="header__home">Home</a>
        </div>
        <div class="header__list">
            <a>Username</a>
            <ul>
                <li><a href="#">profile</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<section class="profile">
    <form action="/addpost" method="POST">
        <input type="text" name="tweettime" placeholder="time">
        <input type="text" name="tweettext" placeholder="Enter your new post">
        <input type="submit" name="submit" value="submit">
    </form>
</section>

<div class="profile">
    <div class="image">
        <img src="" alt="">
    </div>
    <div class="name">
        <h2 class="name">Username</h2>
    </div>
    <div class="posts">
        <div class="post">
            <div class="top">
                <img src="" alt="">
                <span>username --- </span>
                <span>date</span>
            </div>
            <div class="content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis pariatur ab deleniti
                    eum
                    voluptatum impedit sed, expedita aperiam saepe?</p>
            </div>
            <div class="comments">
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <img src="" alt="">
        <span>username --- </span>
        <span>date</span>
    </div>
    <div>
        {{#each newpost}}
        <p>{{this.tweetcontent}}</p>
        <p>{{this.tweetpublishtime}}</p>
        {{/each}}
    </div>
    <div class="comments">
        <ul>
            <li>{{newcomment}}</li>
        </ul>
    </div>
</div>

</section>