{{> header}}

<section class="signup">
    <form action="/signup-data" method="POST" class="signup-form">
        <input type="text" name="username" placeholder="Enter Your Username">
        <input type="email" name="email" placeholder="Enter Your Email">
        <input type="password" name="password" placeholder="Enter Your password">
        <input type="password" name="confirmPassword" placeholder="Confirm Your password">
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <input type="date" name="date" placeholder="Enter Your birthday">
        <input type="text" name="country" class="country" placeholder="Enter Your country">
        <input type="text" name="bio" class="bio" placeholder="Enter your bio">
        <input type="submit" name="submit" value="Signup" class="signup-button">

    </form>
</section>

{{> footer}}