{{> header}}

<section class="Signup">
    <form action="" class="Signup__form">
        <input type="text" name="username" class="Signup__username" placeholder="Enter Your Username">
        <input type="email" name="email" class="Signup__email" placeholder="Enter Your Email">
        <input type="password" name="password" class="Signup__password" placeholder="Enter Your password">
        <input type="password" name="confirmPassword" class="Signup__password" placeholder="Confirm Your password">
        <select name="gender" class="Signup__gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <input type="date" name="date" class="Signup__date" placeholder="Enter Your birthday">
        <input type="submit" name="submit" value="Signup" class="Signup__button">
    </form>
</section>

{{> footer}}